__pycache__
.vscode
.DS_Store

lightning_logs
output
likert
reports
models
*.log
*.pkl

dataset/for_clustering/embedded
dataset/for_clustering/extract
dataset/for_clustering/extract_embedded

report.html

api_key
nohup.out

!.keep
!*.py