torch > 2.0
pytorch-lightning > 2.0
pandas
flair
nltk
umap-learn
hdbscan
matplotlib
sentence_transformers
lingua-language-detector
openai
Jinja2
bitsandbytes
InstructorEmbedding
transformers @ git+https://github.com/huggingface/transformers.git
peft @ git+https://github.com/huggingface/peft.git
accelerate @ git+https://github.com/huggingface/accelerate.git
tensorboard
langchain
spacy
xformers