torch < 2.0
pytorch-lightning < 1.7
pandas
flair
nltk
umap-learn
hdbscan
matplotlib
sentence_transformers
lingua-language-detector
openai
Jinja2
InstructorEmbedding
transformers == 4.20
tensorboard
langchain
spacy